<div class="container mt-5">
  <div class="row">
    <div id="about-me" class="col-3 border mb-5">
      <h3>About Me</h3>
      <p>Hey everyone. I am a graduate of Le Wagon Singapore coding bootcamp. My projects during the bootcamp are Cyclee and WhereWorks.
      I am currently working on a small project for a charity organisation that is deliberately made simple for accessibility since our demographics consist of users who are not tech-savvy.</p>
      <br>
      <h3>Current Goals</h3>
      <p>I am currently learning about React.</p>
      <br>
      <h3>My Tech Stack</h3>
      <div id="stack" class="d-flex flex-column">
        <div class="d-flex justify-content-between">
          <%= image_tag("html5", size: "72") %>
          <%= image_tag("css3", size: "72") %>
          <%= image_tag("javascript", size: "72") %>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-between">
          <%= image_tag("ruby", size: "72") %>
          <%= image_tag("rubyonrails", size: "72") %>
          <%= image_tag("postgresql", size: "72") %>
        </div>
        <br>
        <br>
        <div class="d-flex justify-content-between">
          <%= image_tag("heroku", size: "72") %>
          <%= image_tag("github", size: "72") %>
          <%= image_tag("react", size: "72") %>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div id="blog" class="col-8 border mb-5">
      <h3>My blog articles</h3>
    </div>
  </div>
</div>
  <div class="footer w-100 d-flex justify-content-center align-items-center flex-column">
    <ul>
      <li><i class="fa-brands fa-facebook"></i></li>
      <li><i class="fa-brands fa-linkedin"></i></li>
      <li><i class="fa-brands fa-github"></i></li>
      <li><i class="fa-solid fa-envelope"></i></li>
    </ul>
    <p>Made with Ruby on Rails and Stimulus</p>
  </div>
